{% extends 'layouts/default.twig' %}

{% block metatags %}
    <meta name="title" content="{{title}}">

{% endblock %}


{% block body %}
    <div class="container">
        <h1>
            {{ post.title }}
        </h1>
        <p>
            {{ post.content_rendered }}
        </p>
    </div>
{% endblock %}