.gallery_img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.3s;
}

.gallery_img:hover {
    transform: scale(1.1);
}

.each_gallery_img {
    margin: 3px;
    padding: 0;
    overflow: hidden;
    flex: 0 0 24%;
}

.each-gallery-selector {
    padding: 3px;
}

.gallery-thumb {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.img-selected {
    outline: 5px solid #2196F3;
    outline-offset: -5px;
}

#menuAddedText {
    display: none;
}

#show_menu_links>.list-group-item {
    cursor: move;
}

#menuSavedAlert {
    display: none;
}
.fw-light {
    font-weight: 300;
}